{
  "extends": [
    "airbnb-base",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error"
  },
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "es6": true,
    "es2020": true,
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}